# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Data files
data/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.egg-info/
dist/
build/
